<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://accounts.google.com/gsi/client?hl=fr" async></script>

</head>
<body>
<div class="container mt-5">
    <div class="card" style="width: 600px; margin-left: 250px; box-shadow: 10px 10px 10px 10px gray">
        <h3 class="text-center mt-5">Log In</h3>
        <form action="/loginUser" method="post">
            <input type="hidden" name="source" th:value="${source}">
            <div class="form-group mt-5 ml-5 mr-5">
                <label for="exampleInputEmail1">Email</label> <input type="email"
                                                                     class="form-control" id="exampleInputEmail1"
                                                                     aria-describedby="emailHelp"
                                                                     placeholder="Enter email"
                                                                     name="email" required>
            </div>

            <div class="form-group ml-5 mr-5">
                <label for="password">Password</label> <input type="password"
                                                              class="form-control" id="password"
                                                              aria-describedby="emailHelp"
                                                              placeholder="Enter Password" name="password" required>
            </div>
            <div th:if="${msg != null}">
                <p th:text="${msg}" class="text-danger text-center"></p>
            </div>
            <div class="container text-center mb-3">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="container text-center mb-3">
                <a href="/signup">Don't Have Register Here</a>
            </div>
            <div class="container text-center" style="justify-items: center">
                <div class="container text-center mb-3" style="display: inline-flex;justify-content: center">
                    <a class="btn btn-google btn-block text-uppercase btn-outline-secondary" style="border-radius: 20px;width: 240px;font-size: 13px" href="/oauth2/authorization/google"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Continue Using Google</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
