<!-- src/main/resources/templates/verificationResult.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Account Verification</title>
</head>
<body>
<div th:if="${verificationResult == 'Account verified successfully!'}">
    <h2 th:text="${verificationResult}"></h2>
    <p th:if="${username}" th:text="'Username: ' + ${username}"></p>
</div>
<div th:if="${verificationResult == 'Invalid verification token'}">
    <h2 th:text="${verificationResult}"></h2>
</div>
</body>
</html>
